@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in-right {
  animation: slide-in-right 300ms ease-in-out;
}

.slide-in-bottom {
  animation: slide-in-bottom 150ms ease-in-out;
}

.blend-in {
  animation: blend-in 300ms ease-in-out;
}

@keyframes blend-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(40%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
